
.project{
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    background: #222525;
    color: aliceblue;
}

.project-image{
    width: 400px;
}

.project-title{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: left;
    color: #D9F2F2;
    margin: 0px;
    padding: 20px;
}

.project-description{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #BDEBEA;
    margin: 0px;
    padding: 20px;
}

.project-category-btn {
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.12em;
    text-align: center;
    color: #1F2626;
}


.project-containe-category{
    display: flex;
    gap: 5px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.projects-content{
    display: flex;
    gap: 20px;
    
}


@media screen and (max-width: 900px){
    .project{
        width: 100%;
    }

    .project-title{
        font-size: 20px;
        font-weight: 600;
        line-height: 24.38px;
        text-align: left;

    }

    .project-category-btn{
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.12em;
        text-align: center;
    }

    .project-description{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
    }

    

    .project-image{
        width: 100%;
    }

    .project-containe-category{
        flex-wrap: wrap;
        width: 100%;
        padding: 0px;
    }

}