


.container-Fouter{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0px;
    background-color: #041F31;
    padding-top: 30px;
}

.Fouter{
    display: flex;
    gap: 25px;
}

.Fouter p{
    font-family: 'Montserrat';
font-size: 12px;
font-weight: 400;
line-height: 11.11px;
letter-spacing: 0.12em;
text-align: center;
color: #BDEBEA;

}

.container2-Fouter p{

    font-family: 'Montserrat';
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #BDEBEA;

}

.container-Fouter-p1{
    font-family: 'Montserrat';
font-size: 14px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.04em;
text-align: center;
color: #BDEBEA;

}

.container2-Fouter {
    display: flex;
    gap: 25px;
}

@media screen and (max-width: 900px){
    .container-Fouter{
        width: 100%;
        padding: 0px;
    }

    .Fouter p {
        font-size: 12px;
        font-weight: 400;
        line-height: 11.11px;
        letter-spacing: 0.12em;
        text-align: center;
    }

    .Fouter{
        padding: 20px;
    }
}