
.contact{
    background-color: #041F31;
    padding: 10rem;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 600px;
    gap: 30px;

  }

input {
    width: 99%;
    border: 1px solid ;
    height: 48px;
    top: 298px;
    left: 454px;
    gap: 0px;
    border-radius: 6px;
    border: 1px solid #BDEBEA;
    background-color: transparent;
    
  }

label {
    display: block;
    
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    color: #BDEBEA;

  }


.container-linear-gradient{
    width: 99%;
    padding: 1px;
    border-radius: 6px;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);;

}

  #message {
    width: 99%;
    border: none;
    height: 165px;
    top: 298px;
    left: 454px;
    gap: 0px;
    border-radius: 6px;
    color: #BDEBEA;
    background-color: #041F31;
  }


  .contact-btn{
    width: 100%;
  }


  @media screen and (max-width: 900px){
    .contact{
      width: 100%;
      height: 100vh;
      padding: 0;
    }

    form {
      
      width: 300px;
      
  
    }

    .contact-container1{
      padding: 20px;
    }


  }